# !!! IMPORTANT !!!

# Customize this file and rename it to ".env" to enable a correct parsing !

# Here the MQTT configs

BROKER = "..." # Can be any IP (static preferred) or domain name based !
USER = "..." # Add a user here. Check your broker user(s) if auth is required, otherwise any random text string is fine here !
PASSWORD = "..." # Add a password here. Same as user, use the broker auth(s) parameters, otherwise any random text string is fine !

# And here the database configs

DB_USER="..." # Database username
DB_PASS="..." # Database password for the DB_USER
DB_NAME="..." # Database name in the database server
DB_ADDR="..." # Database address (IP or domain name)
