<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>IOT Home</title>
        <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='img/icon.png') }}" rel="icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <header>
            <div class="banner">
                <h1>
                    IOT Home
                </h1>
            </div>
        </header>

        <footer>
            <h2>
                Raccourcis : 
            </h2>

            <ul>
                <li>
                    <a href="../index.html">
                        Home
                    </a>
                </li>

                <li>
                    <a href="switch.html">
                            Speakers
                    </a>
                </li>

                <li>
                    <a href="player.html">
                            Player
                    </a>
                </li>

                <li>
                    <a href="temperature.html">
                            Temperature
                    </a>
                </li>

            </ul>

            <div class="footer">
                HEYWANG Léonard.
            </div>
        </footer>
    </body>
</html>