<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8" />
        <title>IOT Home</title>
        <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='img/icon.png') }}" rel="icon" />
    </head>

    <body>
        <header>
            <div class="banner">
                <h1>
                    IOT Home
                </h1>
            </div>
        </header>

        <div class="containers">
            <div class="audio-switch">
                <a href="devices/switch.html">
                    <img 
                    class="img" 
                    src="{{ url_for('static', filename='img/switch.png') }}" 
                    alt="Icon of an audio-switch" />
                    <p>
                        Switch audio
                    </p>
                </a>
                
            </div>
            <div class="audio-player">
                <a href="devices/player.html">
                    <img 
                    class="img" 
                    src="{{ url_for('static', filename='img/player.png') }}" 
                    alt="Icon of an audio-switch"/>
                    <p>
                        Player audio
                    </p>
                </a>
                
            </div>
            <div class="audio-speaker">
                <a href="devices/switch.html">
                    <img 
                    class="img"
                    src="{{ url_for('static', filename='img/speaker.png') }}" 
                    alt="Icon of an audio-switch" />
                    <p>
                        Speakers
                    </p>
                </a>
                
            </div>
            <div class="sensor-temperature">
                <a href="devices/temperature.html">
                    <img 
                    class="img" 
                    src="{{ url_for('static', filename='img/temperature.png') }}" 
                    alt="Icon of an audio-switch"/>
                    <p>
                        Temperature sensors
                    </p>
                </a>
                
            </div>
        </div>

        <footer>
            <div class="footer">
                HEYWANG Léonard.
            </div>
        </footer>
    </body>
</html>